# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# IDE
.idea/

# Large datasets
*.hdf5

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# IDE
.idea/

# Large datasets
*.hdf5

# macOS
.DS_Store


